.navbar{
    color: rgb(247, 243, 243);   
    display: flex;
    background-color: rgb(186, 226, 43);
}
.tbl{
    text-align: center;
}

.userNav{
    color: black;
    display: flex;
    flex-direction: row-reverse;

}